
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.icon-shake {
  display: inline-block;
  transition: transform 0.2s;
}

.icon-shake:hover {
  animation: shake 0.5s ease-in-out;
}

