@media only screen and (min-width: 200px) and (max-width: 768px) {
  .banner {
    height: 93vh;
  }
  .carousel-item {
    padding-top: 6rem;
  }
  .carousel-item h1 {
    font-size: 25px;
    padding-bottom: 10px;
  }
  .carousel-item img {
    height: 30vh;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .hero-section {
    margin-bottom: 1rem;
  }
  .hero-section h1 {
    font-size: 24px;
    font-weight: 600;
  }
  .hero-section p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: auto;
  }

  .card .btn {
    margin-top: 10px;
  }

  .lead-form input {
    padding: 10px 10px;
  }
  .how-it-works-section h2 {
    font-size: 23px;
  }
}
