* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar-nav .nav-link {
  color: black;
  margin: 10px 16px;
  font-weight: 600;
  font-size: 17px;
}

.logo {
  width: 150px;
  height: auto;
}

.navbar-nav .nav-link:hover {
  color: blue;
}

.btn-number {
  background-color: #055861;
  color: white !important;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  margin-right: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.btn-number:hover {
  background-color: #2f2f30;
}
.banner {
  background: linear-gradient(to bottom, rgba(24, 23, 23, 0.5), transparent),
    url("./images/background-image.png") no-repeat center center/cover;
  padding-top: 2rem;
  height: 100vh;
}
.carousel-indicators [data-bs-target] {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  background-color: #333 !important;
  margin: 0 6px !important;
}

.carousel-indicators .active {
  background-color: black !important;
}
.banner-button .btn1 {
  background-color: #0cd3e9;
  color: white;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  border: 2px solid #087079ff;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.banner-button .btn2 {
  background-color: #087079ff;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.carousel-item {
  padding-top: 5rem;
}
.carousel-item img {
  height: 72vh;
  margin-bottom: 70px;
}

.hero-section {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 40px;
  margin-bottom: 4rem;
}
.card:hover {
  background-color: #09a1ae;
  color: white;
}
.card:hover .btn {
  background-color: white;
  color: black;
  border: none;
}

.card-title {
  font-size: 14px;
}

.card-text {
  font-size: 12px;
}

.btn-submit {
  background-color: rgb(36, 39, 194);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  border-radius: 30px;
}

.btn-submit:hover {
  background-color: #09096a;
}


