* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar-nav .nav-link {
  color: black;
  margin: 0 16px;
  font-weight: 600;
  font-size: 17px;
}

.logo {
  width: 180px;
  height: auto;
}

.navbar-nav .nav-link:hover {
  color: blue;
}

.btn-number {
  background-color: rgb(21, 10, 182);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.btn-number:hover {
  background-color: #2f2f30;
}

.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./images/mortage.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: 0;
}

.hero-section > * {
  position: relative;
  z-index: 2;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.4); /* White with 50% opacity */
}

.hero-content h1 {
  color: rgb(3, 34, 67);
  font-size: 45px;
  font-weight: bold;
  margin-top: 150px;
  margin-right: 50px;
  position: relative;
  z-index: 2;
}

.btn-hero-content {
  background-color: rgb(121, 150, 236);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: 75%;
  z-index: 2;
  position: relative;
}

.hero-form {
  position: relative;
  z-index: 2;
  padding-top: 120px;
}

.btn-submit {
  background-color: rgb(5, 116, 227);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  border-radius: 30px;
}

.btn-submit:hover {
  background-color: #0a0aac;
}

.how-it-works-card:hover {
  box-shadow: 0 0 10px rgba(21, 10, 182, 0.8);
  transition: box-shadow 0.2s ease;
  background-color: rgb(121, 150, 236);
  color: white;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}
